

main-container{
    width: 100%;
    height: calc(100vh - 44px);
}

.WikiPage{
    height: 50px;
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    align-items: center;
    width: calc(100% - 30px);
    border-bottom: 1px solid #CCC;
    margin-bottom: 5px;
}

article{
    width: 100%;
    display: flex;
    flex-direction: row;

}

aside{
    padding: 0px 10px;
    border: 1px solid #CCC;
    width: 30%;
    order: 2;
    background-color: #EEE;
}

aside > div{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px 0px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #CCC;
}

aside > div > h4{
    margin: 0;
}

.content-text{
    width: 70%;
    order: 1;
    padding: 15px 35px;
}

.content-text .title-section{
    width: 100%;
    border-bottom: 1px dotted #CCC;
    margin-top: 0;
}

aside h2{
    width: 100%;
    padding: 20px 0px;
    text-align: center;
    background-color: #9ED4FF;
    color: #FFF;
    margin: 0;
}

aside img{
    width: 100%;
    margin: 10px 0px;
}
