@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/*//////*/
/*GENERAL*/
/*//////*/

body {
    margin: 0;
    padding: 0;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: 'Montserrat', sans-serif;
    color: #1d1d1f;
    font-style: normal;
}

a:link,
a:visited,
a:hover,
a:focus,
a:active{
  color:#1d1d1f;
  text-decoration: none;
}

.alert{
    position: fixed;
    top: 7px;
    left: -100%;
    z-index: 99999;
    background-color: RED;
    border-radius: 10px;
    padding: 10px;
    color: white;
    animation: unshow 6s linear;
}

@keyframes unshow{
    0%{
        left: 6px;
    }
    90%{
        left: 6px;
    }
    100%{
        left: -100%;
    }
}

.flex-align-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*//////*/
/*HEADER*/
/*//////*/

.nav-element{
    background-color: #00aaff;
    border: none;
    padding: 10.25px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: relative;
}
.nav-element:hover{
    background-color: #0038A5;
}
.navigation-header{
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
}

.bouton_header{
    background: none;
    border: none;
    cursor: pointer;
    color:#FFF;
}

.navigation-header-global{
    margin: 0;
    width: 100%;
    min-width: 1024px;
    height: 48px;
    max-height: 44px;
    background: rgba(0,0,0,0.92);

}

.bouton-header-options{
    position: absolute;
    top: 30px;
    width: 260px;
    right: 0;
    left: 0;
    z-index: 9998;
    background-color: #FFF;
    transition-duration: .2s;
    opacity: 0;
    pointer-events: none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #CCC;
    text-align: left;
}

.nav-element:hover > .bouton-header-options{
    top: 40px;
    opacity: 1;
    pointer-events: all;
}

.bouton-header-options ul{
    list-style-type: none;
    list-style-position: inside;
}

.bouton-header-options a{
    color: #262626;
    text-transform: uppercase;
    text-decoration: none;
    padding: 9px;
    text-align: left;
    line-height: 2;
    font-sizing: 9;
}

.bouton-header-options a:hover{
    color: #F96669;
}

.chevron-container{
    position: relative;
}

.chevron{
    height: 10px;
    width: 10px;
    background-color: #FFF;
    transform: rotate(45deg);
    position: absolute;
    top: -4px;
    left:18px;
}

.chevron-profile{
    left:inherit;
}

.sign-in-button{
    border-radius: 9999px !important;
    background-color: rgba(255,255,255,.25);
}

.sign-in-button:hover{
    background-color: rgba(255,255,255,.5);
}

.sign-in-button button{
    font-weight: 600;
}

.profile-btn-group{
    margin: 0 0 0 10px;
    width:70px;
    padding:0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: relative;
    z-index: 9999999;
}

.profile-button{
    display:flex;
    flex-direction: row;
    width:100%;
    padding:0;
    background: none;
    border: none;
    cursor: pointer;
    color:#FFF;
}

.profile-button:focus > .profile-header-options{
    top: 40px;
    opacity: 1;
    pointer-events: all;
}

.profile-header-options{
    position: absolute;
    top: 30px;
    width: 150px;
    right: -21.5px;
    z-index: 9998;
    background-color: #FFF;
    transition-duration: .2s;
    opacity: 0;
    pointer-events: none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #CCC;
    text-align: left;
}
.profile-icon-block{
    display: block;
    max-width:100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

.icon-profile{
	background: rgba(0, 0, 0, 0) url("https://www.gravatar.com/avatar/b842a2f9317126ca3e751b6711e7e695.jpg?d=https%3A%2F%2Fstatic-assets.mapbox.com%2Faccounts%2Fastronaut-gravatar-200x200.png") no-repeat scroll center center / cover;
	width: 30px;
	height: 30px;
	border-width: 2px;
	border-style: solid;
	border-color: #fff;
	border-radius: 9999px;
	display:block;
}

.um-icon {
	display: block;
	fill: currentColor;
	height: 1em;
	width: 1em;
}

/*///////*/
/*TABLEAU*/
/*///////*/

table {
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
    color: #1E1E1E;
    margin-bottom: 50px;
}

table td, table th {
  padding: 11px 11px 11px 0;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: black;
  font-size: 12px;
}

table a{
    color: #4d4d4d;
    text-decoration: none;
}
table a:hover{
  color: #F96669 !important;
  text-decoration: underline;
}

/*///////*/
/*FORMULAIRE*/
/*///////*/

.insert-form{
    width:500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.insert-form > div > div{
    position: relative;
    width: 100%;
}

.insert-form label{
    position: absolute;
    top: 25px;
    left: 30px;
    transition-duration: .5s;
    font-size: 19px;
    color: #7D7D7D;
    pointer-events: none;
}

.insert-form input{
    width: 100%;
    padding: 33px 30px 18px 30px;
    margin: 0 0 10px;
    box-shadow: inset 0 0 0 2px #C7C7C7;
    transition-duration: .5s;
    border: none;
    background: none;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 19px;
}

.insert-form i{
    display: none;
    position: absolute;
    top: 35px;
    left: 100px;
}

label .info-date{
    display: inherit;
    font-size: 11px;
    top: 3px;
    left: 60px;
    width: 370px;
}

.insert-form input:focus{
    box-shadow: inset 0 0 0 3px #00aaff;
}

.insert-form input:focus ~ label,
.insert-form input:valid ~ label{
    top: 13px;
    font-size: 16px;
}

.insert-form input:focus ~ i,
.insert-form input:valid ~ i{
    display: block;
}

label.always-active{
    top: 12px;
    font-size: 15px;
}

.insert-form select{
    width: 100%;
    padding: 33px 0 18px 30px;
    margin: 0 0 10px;
    box-shadow: inset 0 0 0 2px #C7C7C7;
    border: none;
    background: none;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 19px;
}

/*///////*/
/*CARTES*/
/*///////*/

.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 960px;
    margin: 0 auto;
    padding: 20px 10px;
}

.card-container > div{
    background-color: #FFF;
    width: 300px;
    height: 350px;
    margin: 30px 10px 10px;
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    border-radius: 2px;
    line-height: 10px;
}

.card-image{
    height: 220px;
    width: 300px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-content{
    padding: 20px;
    background-color: #FFF;
    width: 300px;
    height: calc(100% - 240px);
    border-radius: 2px 2px 0 0;
    padding:0;
}

.card-content h2{
    margin: 20px 10px;
}

.btn-group a{
    color: #0038A5;
    padding: 10px 0;
    margin: 10px 10px;
    width: 40%;
    border: 1px solid #0038A5;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    transition-property: background-color, color;
    transition-duration: 0.6s;
}

.btn-group a:hover{
    background-color: #0038A5;
    color: #FFF;
}

.btn-group{
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lien-ordre-affichage{
    position: absolute;
    top: 50px;
    right: calc((100% - 960px)/2);
    display: inline-block;
    padding: 4px 5px;
    border-radius: 2px;
}

.lien-ordre-affichage:hover{
    background-color: #F0F0F0;
}

/*///////*/
/*PRISES*/
/*///////*/

.prise-image{
    margin: 24px auto;
    height: 500px;
    width: 80%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.prise-content{
    margin: 0 auto;
    border: 0.5px solid #AAA;
    width: 80%;
    flex-direction: column;
}

.prise-content table{
    margin: 0 auto;
    width: 100%;
    display: table;
    box-sizing: border-box;
    border-spacing: 0px;
    border-color: grey;
}

.prise-content table > thead{
    display: inline-block;
    width:100%;
}

.prise-content td{
    width:50%;
}

.prise-content td > div{
    color: rgba(0,0,0,.6);
    word-break: break-word;
}

.prise-content > div{
    min-width: 75%;
    padding: 0;
    flex-grow: 1;
    margin: 10px 5px;
}

.header-titre{
    height: 50px;
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    align-items: center;
    width: calc(100% - 30px);
    border-bottom: 1px solid #CCC;
    margin-bottom: 5px;
}

/*///////*/
/*FOOTER*/
/*///////*/

footer{
    width: 80%;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    margin: 0 auto;
    padding: 24px 0;
    border: 0;
}

footer > a{
    margin: 0 18px 0 0;
}

/*///////*/
/*MAPBOX*/
/*///////*/


#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 300px;
 }

.mapboxgl-canvas-container.mapboxgl-interactive, .mapboxgl-ctrl-group button.mapboxgl-ctrl-compass {
	cursor: -webkit-crosshair !important;
	cursor: -moz-crosshair !important;
	cursor: crosshair !important;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}