{% extends "base.html" %}
{% block title %} Afficher ESPECES {% endblock %}
{% block body %}
<link rel="stylesheet" href="../../static/css/espece.css">

        {% for row in data %}
<div class="main-container">
        <div id="WikiPage" class="WikiPage">
            <header>
                <h1>{{ row.NomEspece }}</h1>
            </header>
        </div>
        <article id="WikiaMainContent">
                <aside>
                    <h2>{{ row.NomEspece }}</h2>
                    <img src="../../static/img/thumbnail/{{ row.ThumbnailEspeceLink }}" style="border: 0;"  alt = "Illustration de l'espèce">
                    <div>
                        <h4>Nom Scientifique</h4>
                        <div class="pi-data-value pi-font">
                            <i>{{ row.NomScientifiqueEspece }}</i>
                        </div>
                    </div>
                    <div>
                        <h4>Poid maximum</h4>
                        <div>
                            {{ row.PoidsMaxEspece }} kg
                            <sup>
                                <a href="#">[1]</a>
                            </sup>
                        </div>
                    </div>
                    <div>
                        <h4>Longueur maximale</h4>
                        <div>
                            {{ row.LongMaxEspece }} cm
                            <sup>
                                <a href="#">[2]</a>
                            </sup>
                        </div>
                    </div>
                    <div>
                        <h4>Age maximum</h4>
                        <div>
                            {{ row.AgeMaxEspece }} ans
                            <sup>
                                <a href="#">[3]</a>
                            </sup>
                        </div>
                    </div>
                    <div>
                        <h4>Profondeur</h4>
                        <div>
                            {{ row.ProfEspece }}
                            <sup>
                                <a href="#">[4]</a>
                            </sup>
                        </div>
                    </div>
                    <div>
                        <h4>Plan d'eau</h4>
                        <div>
                            {{ row.PlanEauEspece }}
                            <sup>
                                <a href="#">[5]</a>
                            </sup>
                        </div>
                    </div>
                </aside>
                <div class="content-text" dir="ltr" lang="fr">
                    <h4 class="title-section">Description</h4>
                    <p>
                        {{ row.DescriptionEspece }}
                    </p>
                </div>
        </article>
    </div>
        {% endfor %}

{% endblock %}