        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" type="text/css">
{% block body %}
{% include 'flash_messages.html' %}
	<form action="/login_user" method="POST">
		<div class="login">
			<div class="login-screen">
				<div class="app-title">
					<h1>Login</h1>
				</div>
				<div class="login-form">
					<div class="control-group">
						<input type="text" class="login-field" value="" placeholder="username" name="username">
						<label class="login-field-icon fui-user" for="login-name"></label>
					</div>
					<div class="control-group">
						<input type="password" class="login-field" value="" placeholder="password" name="password">
						<label class="login-field-icon fui-lock" for="login-pass"></label>
					</div>
					<div>
						<input type="button" onclick="window.location.href = '{{ url_for('personnes_add') }}';" value="Ajouter" class="btn btn-primary btn-large btn-block" style="margin-bottom: 9px;">
					</div>
					<div>
						<input type="submit" value="Log in" class="btn btn-primary btn-large btn-block">
					</div>
				</div>
			</div>
		</div>
	</form>
{% endblock %}