{% extends "base.html" %}
{% block title %} Afficher PRISES {% endblock %}
{% block body %}
    <div class="home">
        <form method="POST" action="">
            <div>
                {{ msgHtml }}
            </div>
            <div class="lien-ordre-affichage">
                {% if asc==0 %}
                <a href="{{ url_for('prises_card_afficher', asc=1) }}">Date d'ajout (la plus ancienne)</a>
                {% endif %}
                {% if asc==1 %}
                <a href="{{ url_for('prises_card_afficher', asc=0) }}">Date d'ajout (la plus récente)</a>
                {% endif %}
            </div>
            <div class="card-container">
                {% for row in data %}
                {% if data %}
                <div>
                    <a href="{{ url_for('prises_afficher', id_prise_sel=row.id_Prise) }}">
                        <div class="card-image" style="background-image: url('../../static/img/up/{{ row.PrisePhoto }}');" title="Prise">
                        </div>
                    </a>
                    <div class="card-content">
                        <h2>{{ row.NomEspece }}</h2>
                        <div class="btn-group">
                            <a href="{{ url_for('prises_edit', id_Prise_edit_html=row.id_PriseAPhoto) }}">Edit</a>
                            <a href="{{ url_for('prises_select_delete', id_Prise_delete_html=row.id_Prise) }}">Delete</a>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% else %}
                <table>
					<tr>
						<td>
							Aucune prise.
						</td>
						<td>
							<a href="{{ url_for('upload_file') }}" role="button">Add</a>
						</td>
					</tr>
				</table>
                {% endfor %}
            </div>
        </form>
    </div>
{% endblock %}