{% extends "base.html" %}
{% block title %}Edit PRISES{% endblock %}
{% block body %}
    <div class="home">
        <BODY bgcolor="#FFF">
            <div>
                    {% if error %}
                        <p class=error><strong>Error:</strong> {{ error }}
                    {% endif %}
            </div>
            <div class="header-titre">
                <header>
                    <H1>Modifier une prise</H1>
                </header>
            </div>
            {% for row in data %}
            <div style="background-image: url('../../static/img/up/{{ row.PrisePhoto }}');" class="prise-image">
            </div>
            <form class="insert-form"  method="POST" action="{{ url_for('prises_update') }}">
                <div>
                    <input type="hidden" name="PrisePhoto_html" value="{{ row.PrisePhoto }}">
                    <input type="hidden" name="edit_id_Prise_html" value="{{ row.id_Prise }}">
                    <input type="hidden" name="id_prise_sel" value="{{ row.id_Prise }}">
                    <div>
                        <select name="edit_Methode_select">
                        {% for row in data_methodes %}
                            <option value="{{ row.id_Methode }}">{{ row.NomMethode }}</option>
                        {% endfor %}
                        </select>
                    </div>
                    <div>
                        <select name="edit_Espece_select">
                        {% for row in data_especes %}
                            <option value="{{ row.id_Espece }}">{{ row.NomEspece }}</option>
                        {% endfor %}
                        </select>
                    </div>
                    <div>
                        <input type = "text" name = "edit_PoidPrise_html" value="{{ row.PoidPrise }}" maxlength="4" size="4" required/>
                        <i>kg</i>
                        <label for="">Poid</label>
                    </div>
                    <div>
                        <input type = "text" name = "edit_TaillePrise_html" value="{{ row.TaillePrise }}" maxlength="5" size="5" required/>
                        <i>cm</i>
                        <label for="">Taille</label>
                    </div>
                    <div>
                        <input type = "date" name = "edit_DatePrise_html" value="{{ row.DatePrise }}" required/>
                        <label class="always-active">Date</label>
                    </div>
                    <div>
                        <input type = "time" name = "edit_HeurePrise_html" value="{{ row.HeurePrise }}" required/>
                        <label class="always-active">Date</label>
                    </div>
                    <button type = "submit">Enregistrer la prise</button>
                </div>
            </form>
            {% endfor %}
        </BODY>
    </div>
{% endblock %}