{% extends "base.html" %}
{% block title %}Ajouter une PRISE{% endblock %}
{% block body %}
    <div class="home">
        <body bgcolor="#FFF">
            <div>
                {% if error %}
                    <p class=error><strong>Error:</strong> {{ error }}
                {% endif %}
            </div>
            <div id="demo">
                <div class="header-titre">
                    <header>
                        <H1>Ajouter une prise</H1>
                    </header>
                </div>
                <form class="insert-form" method="POST" action="" enctype="multipart/form-data">
                    <div>
                        <input type='file' name="file" aria-label="Photo" required/>
                        <label class="always-active">Photo</label>
                    </div>
                    <button type="submit">Enregistrer l'image</button>
                </form>
            </div>
        </body>
    </div>
{% endblock %}