{% extends "base.html" %}
{% block title %}Ajouter une PRISE{% endblock %}
{% block head %}
<style type="text/css">

</style>
<script src='https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.css' rel='stylesheet' />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}
{% block body %}

    <div class="home">
        <body bgcolor="#FFF">
            <div>
                    {% if error %}
                        <p class=error><strong>Error:</strong> {{ error }}
                    {% endif %}
            </div>
            <div class="header-titre">
                <header>
                    <H1>Ajouter une prise</H1>
                </header>
            </div>
            <div style="background-image: url('../../static/img/up/{{ filename }}');" class="prise-image">
            </div>
            <form class="insert-form" method="POST" action="">
                <div>
                    <div style="height:320px;">
                        <div id="map"></div>
                    </div>
                    <div>
                        <input type = "text" id="lat" readonly="yes"/>
                        <label class="always-active">latitude</label>
                    </div>
                    <div>
                        <input type = "text" id="lng" readonly="yes"/>
                        <label class="always-active">longitude</label>
                    </div>
                    <div>
                        <input type = "date" name= "DatePrise_html" id= "DatePrise_html" class="dateTimeListener" readonly="yes" required/>
                        <label class="always-active">Date <i class="info-date">Entrez une date inférieure à 6 jours pour obtenir les conditions météo</i></label>
                    </div>
                    <div>
                        <input type = "time" name= "HeurePrise_html" id= "HeurePrise_html" class="dateTimeListener" readonly="yes" required/>
                        <label class="always-active">Heure</label>
                    </div>
                    <div>
                        <input type="button" id="weatherButton" value="Obtenir les conditions météo" style="display: none;">
                    </div>
                    <div>
                        <div id="weatherTable" style="display: none;">
                            <table>
                                <tr>
                                    <td>
                                        <h4>Température de l'air </h4><h3 id="temp"></h3>
                                    </td>
                                    <td>
                                        <h4>Time zone </h4><div id="timezone"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h4>Pression atmosphérique</h4><div id="pression"></div>
                                    </td>
                                    <td>
                                        <h4>Temps </h4><div id="conditionMeteo"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h4>Humidité de l'air </h4><div id="humidity"></div>
                                    </td>
                                    <td>
                                        <h4>Vitesse du vent </h4><div id="vent"></div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div>
                        <select name="Methode_select">
                        {% for row in data_methodes %}
                            <option value="{{ row.id_Methode }}">{{ row.NomMethode }}</option>
                        {% endfor %}
                        </select>
                    </div>
                    <div>
                        <select name="Espece_select">
                        {% for row in data_especes %}
                            <option value="{{ row.id_Espece }}">{{ row.NomEspece }}</option>
                        {% endfor %}
                        </select>
                    </div>
                    <div>
                        <input type = "text" name= "PoidPrise_html" maxlength="4" size="4" required/>
                        <label for="">Poid</label>
                        <i>kg</i>
                    </div>
                    <div>
                        <input type = "text" name= "TaillePrise_html" maxlength="5" size="5" required/>
                        <label for="">Taille</label>
                        <i>cm</i>
                    </div>
                    <button type = "submit">Enregistrer la prise</button>
                    <div id="test"></div>
                </div>
            </form>
            <script type="text/javascript" src="{{ url_for('static', filename='js/map.js') }}"></script>
            <script type="text/javascript">
                // Copy & Paste this
                Date.prototype.getUnixTime = function() { return this.getTime()/1000|0 };
                if(!Date.now) Date.now = function() { return new Date(); }
                Date.time = function() { return Date.now().getUnixTime(); }

                $(document).ready(function () {
                   $('input[id$=lat]').bind("change", function () {
                     document.getElementById('DatePrise_html').readOnly = false;
                   });
                 });

                document.getElementById('DatePrise_html').addEventListener("change", function () {
                    if (document.getElementById('DatePrise_html').value != ""){
                        document.getElementById('HeurePrise_html').readOnly = false;
                    }
                });

                document.getElementById('DatePrise_html').addEventListener("change", weatherButtonListener);
                document.getElementById('HeurePrise_html').addEventListener("change", weatherButtonListener);

                function weatherButtonListener() {
                    var input = document.getElementById('DatePrise_html').value;
                    var dateEntered = new Date(input);
                    const dateToday = Date.now();
                    var diffTime = Math.abs(dateToday - dateEntered);
                    var diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));
                    console.log(dateEntered);
                    console.log(diffDays + " days");
                    if (diffDays <= 6 && document.getElementById('HeurePrise_html').value != "" && document.getElementById('lat').value != "") {
                        document.getElementById('weatherButton').style.display = "block";
                    }
                }

                function weatherBalloon() {
                    var key = 'e21e8fcbf6ef45f55a9718ff5fd86376';
                    var lat = document.getElementById('lat').value;
                    var lon = document.getElementById('lng').value;
                    var datePrise = document.getElementById('DatePrise_html').value;
                    var timePrise = document.getElementById('HeurePrise_html').value;
                    var parsedUnixTime = new Date(datePrise + ' ' + timePrise).getUnixTime();
                    var dt = parsedUnixTime;
                    fetch('https://api.openweathermap.org/data/2.5/onecall/timemachine?lat=' + lat + '&lon=' + lon + '&dt=' + dt + '&lang=fr&appid=' + key)
                    .then(function(resp) { return resp.json() }) // Convert data to json
                    .then(function(data) {

                            drawWeather(data); // Call drawWeather

                    })
                    .catch(function() {
                        // catch any errors
                    });
                }

                function drawWeather( d ) {
                        console.log( d );
                        var celcius = Math.round(parseFloat(d.current.temp)-273.15);
                        document.getElementById('timezone').innerHTML = d.timezone;
                        document.getElementById('temp').innerHTML = celcius + '&deg;' + 'C';
                        document.getElementById('humidity').innerHTML = d.current.humidity;
                        document.getElementById('vent').innerHTML = d.current.wind_speed + ' m/s';
                        document.getElementById('conditionMeteo').innerHTML = d.current.weather[0].description;
                        document.getElementById('pression').innerHTML = d.current.pressure + ' hPa';
                        document.getElementById('weatherTable').style.display = "block";
                }

                document.getElementById('weatherButton').onclick = function() {
                  weatherBalloon();
                }

            </script>
        </body>
    </div>
{% endblock %}