{% extends "base.html" %}
{% block title %}Upload{% endblock %}
{% block main %}
<div>
  <div>
    <div>
      <h1>Upload an image</h1>
      <hr>
      <form action="/upload-image" method="POST" enctype="multipart/form-data">
        <div>
          <label>Select image</label>
          <div>
            <input type="file" name="image" id="image">
            <label for="image">Select image...</label>
          </div>
        </div>
        <button type="submit" >Upload</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}