{% extends "base.html" %}
{% block title %}Ajouter une PERSONNE{% endblock %}
{% block body %}
    <div class="home">
        <BODY bgcolor="#FFF">
        <div>
                {% if error %}
                    <p class=error><strong>Error:</strong> {{ error }}
                {% endif %}
        </div>
        <form class="insert-form" method="POST" action="">
            <div>
                <div>
                    <H1>Créer un compte</H1>
                </div>
                <div>
                    <input type = "text" name= "username_personne_html" aria-label="Username" required/>
                    <label>Username</label>
                </div>
                <div>
                    <input type = "password" name= "password_personne_html" required/>
                    <label for="">Password</label>
                </div>
                <div>
                    <input type = "text" name= "name_personne_html" required/>
                    <label for="">Nom</label>
                </div>
                <div>
                    <input type = "text" name= "firstname_personne_html" required/>
                    <label for="">Prénom</label>
                </div>
                <div>
                    <input type = "text" required/>
                    <label for="">Mail</label>
                </div>
                <div>
                    <input type = "date" name= "datenaissance_personne_html" required/>
                    <label class="always-active">Date de naissance</label>
                </div>
                <button type = "submit">Enregistrer la personne</button>
            </div>
        </form>
        </BODY>
    </div>
{% endblock %}