{% extends "base.html" %}
{% block title %} Afficher PROFIL {% endblock %}
{% block body %}
    <div class="home">
        <div class="avatar">
<!--            <img src="../../static/img/profil/{{ row.PhotoProfil }}" style="border: 0;"  alt = "Photo de profil">-->
        </div>
        <div>
            <h3>{{ row.PrenomPers }} {{ row.NomPers }}</h3>
            <span>{{ row.User|default("", True) }}</span>
        </div>
        <div>
            <div>
                <h3>{{ row.User|default("", True) }}</h3>
                <label>Prises</label>
            </div>
            <div>
                <h3>{{ row.User|default("", True) }}</h3>
                <label>Equipement</label>
            </div>
            <div>
                <h3>{{ row.User|default("", True) }}</h3>
                <label>Carte des prises</label>
            </div>
        </div>
        <div>
            {% for row in data %}
<!--            <img src="../../static/img/up/{{ row.PrisePhoto }}" style="border: 0;"  alt = "Photo prise">-->
            {% endfor %}
        </div>
    </div>
{% endblock %}